127.0.0.1 localhost
::1   localhost ip6-localhost ip6-loopback
fe00::0   ip6-localnet
ff00::0   ip6-mcastprefix
ff02::1   ip6-allnodes
ff02::2   ip6-allrouters

127.0.1.1 {{ thishost_hostname }}

{# Add an entry for each host in the cluster, using the loop index to map IPs #}
{% for host in groups['k3s_hosts'] %}
{{ network_prefix }}.{{ 200 + loop.index }} kube{{ loop.index }}.{{ domain_name }}
{% endfor %}
